CompileFlags:
    Add: 
        - -Wno-unknown-warning-option
        - -Wno-format
    Remove: 
        - -mword-relocations
    CompilationDatabase: "./build/latest"

Completion:
    HeaderInsertion: Never

Diagnostics:
    ClangTidy:
        FastCheckFilter: None

---

If:
    PathMatch: .*\.h
Diagnostics:
    UnusedIncludes: None
