Standard: Cpp11
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterCaseLabel: true
  AfterClass: true
  SplitEmptyFunction: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterFunction: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
IndentCaseLabels: true