[submodule "lib/mlib"]
	path = lib/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "lib/STM32CubeWB"]
	path = lib/STM32CubeWB
	url = https://github.com/Flipper-Zero/STM32CubeWB.git
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
