*~
*.swp
*.swo
*.gdb_history


# LSP
.cache
compile_commands.json

# JetBrains IDEs
.idea/

# Python VirtEnvironments
.env
.venv
env/
venv/

# Python Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pickle

.obj/
bindings/
.DS_Store
.mxproject
Brewfile.lock.json

# Visual Studio Code
.vscode/

# Kate
.kateproject
.kateconfig

# legendary cmake's
build
CMakeLists.txt

# bundle output
dist

# kde
.directory

# SCons
.sconsign.dblite
# SCons build dir
build/

# Toolchain
/toolchain

# openocd output file
openocd.log

# PVS Studio temporary files
.PVS-Studio/
PVS-Studio.log

.gdbinit
