[submodule "lib/mlib"]
	path = lib/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "assets/protobuf"]
	path = assets/protobuf
	url = https://github.com/flipperdevices/flipperzero-protobuf.git
	shallow = false
[submodule "lib/libusb_stm32"]
	path = lib/libusb_stm32
	url = https://github.com/flipperdevices/libusb_stm32.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/amachronic/microtar.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/flipperdevices/heatshrink.git
[submodule "lib/st_cmsis_device_wb"]
	path = lib/stm32wb_cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_wb
[submodule "lib/stm32wbxx_hal_driver"]
	path = lib/stm32wb_hal
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver
[submodule "lib/stm32wb_copro"]
	path = lib/stm32wb_copro
    url = https://github.com/flipperdevices/stm32wb_copro.git
[submodule "documentation/doxygen/doxygen-awesome-css"]
	path = documentation/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
