{
    "workbench.tree.indent": 12,
    "cortex-debug.enableTelemetry": false,
    "cortex-debug.variableUseNaturalFormat": true,
    "cortex-debug.armToolchainPath": "${workspaceFolder}/toolchain/current/bin",
    "cortex-debug.openocdPath": "${workspaceFolder}/toolchain/current/bin/openocd",
    "cortex-debug.gdbPath": "${workspaceFolder}/toolchain/current/bin/arm-none-eabi-gdb-py3",
    "editor.formatOnSave": true,
    "files.associations": {
        "*.scons": "python",
        "SConscript": "python",
        "SConstruct": "python",
        "*.fam": "python"
    },
    "clangd.path": "${workspaceFolder}/toolchain/current/bin/clangd@FBT_PLATFORM_EXECUTABLE_EXT@",
    "clangd.arguments": [
        "--query-driver=**/arm-none-eabi-*",
        "--compile-commands-dir=${workspaceFolder}/build/latest",
        "--clang-tidy",
        "--header-insertion=never"
    ]
}