CompileFlags:
    Add: 
        - -Wno-unknown-warning-option
        - -Wno-format
    Remove: 
        - -mword-relocations

Diagnostics:
    ClangTidy:
        FastCheckFilter: None

---

If:
    PathMatch: .*\.h
Diagnostics:
    UnusedIncludes: None
